@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Kalnia&display=swap');


html {
    width: 1460px;
    height:  1582px;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: var(--cor-gray-9);
    width: 1120px;
    height: 1582px;
    margin: 0 auto;
}

:root{
    
    
    --cor-do-botao: #8629FF;
    --cor-input: #6F00FF;
    --cor-gray-1: #15171A;
    --cor-gray-2: #212529;
    --cor-gray-3: #2B2F33;
    --cor-gray-4: #5E5E5E;
    --cor-gray-5: #CED4DA;
    --cor-gray-6: #DEE2E6;
    --cor-gray-7: #F1F3F5;
    --cor-gray-8: #FDFEFF;
    --cor-gray-9: #FFFFFD;

 



}
 
.modificar__fundo:root {
    --cor-gray-9: #15171A;
    --cor-gray-8: #212529;
    --cor-gray-7: #2B2F33;
    --cor-gray-6: #5E5E5E;
    --cor-gray-5: #CED4DA;
    --cor-gray-4: #DEE2E6;
    --cor-gray-3: #F1F3F5;
    --cor-gray-2: #FDFEFF;
    --cor-gray-1: #FFFFFD
}





